@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500;1,800&family=Roboto:wght@300&display=swap');

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#sidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    grid-column: 1/2;
    background-color: #1e293b;
    padding: 12px;
}

#logo {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    font-size: 45px;
    height: 100px;
    margin-bottom: 200px;
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 200px;
    flex: 1;
  }
  
  button {
    font-family: 'Roboto', sans-serif;
    align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  color: #171e29;
}

button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  button {
    min-width: 170px;
  }
}

a {
  color: white;
  text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

#welcomeHeader {
    font-family: 'EB Garamond', serif;
    font-size: 42px;
    font-style: italic;
}

#welcomeText {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 20px;
}

#menu {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

#menu > h2 {
  text-align: center;
}

#menu > div {
  text-align: center;
}